################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Alten/config
/.vs/Alten/v16/Server/sqlite3
