<h2>Vehicles</h2>
<div class="row">
  <div class="col-sm-5">
    <select class="form-control" id="DDL_Customers" [(ngModel)]="filterCustomerID">
      <option [value]="-1">Filter by customer</option>
      <option *ngFor="let c of allCustomers" [ngValue]="c.id">{{c.name}}</option>
    </select>
  </div>
  <div class="col-sm-5">
    <select class="form-control" id="DDL_vehicleStatus" [(ngModel)]="filterIsConnected">
      <option [value]="-1">Filter by vehicle Status</option>
      <option *ngFor="let c of vehicleStatus" [ngValue]="c.id">{{c.type}}</option>
    </select>
  </div>
  <div class="col-sm-2">
    <button type="submit" (click)="executeSearch()"><i class="fa fa-search"></i></button>
  </div>
</div>

<section class="wrapper">
  <div class="container-fostrap">
    <div class="content">
      <div class="container">
        <div class="row" *ngIf="VechicleModel!==undefine && !VechicleModel.length">
          <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-info">
              No data.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4" *ngFor="let item of VechicleModel">
            <div class="card">
              <div class="card-header">
                <h3 *ngIf="item.isconnected==1" class="card-title text-success">Vehicle ID: {{item.vehicleId}}</h3>
                <h3 *ngIf="item.isconnected==0" class="card-title text-danger">Vehicle ID: {{item.vehicleId}}</h3>
              </div>
              <div class="card-body">
                <p class="card-text">Registration No: {{item.registrationNo}}</p>
                <p class="card-text">Customer: {{item.customerName}}</p>
                <div *ngIf="item.isconnected==0" class="text-danger"> Last ping: {{item.lastPingTime | date :'short'}} </div>
              </div>
              <div class="card-footer text-muted">
                <div *ngIf="item.isconnected==1" class="text-success"> Connected </div>
                <div *ngIf="item.isconnected==0" class="text-danger"> Disconnected </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
